<html>
<body>
  
  <form method="post">
  <% @items.each do |item| %>
    <%= item.name %> Name: <input type="text" name="name"/><br/>
    <%=item.units %> Units: <input type="text" value="lb" name="units"/><br/>
    $<%= item.price %> Price: <input type="text" name="price"/><br/>
    Available: <input type="text" name="available"/><br/>
    <% end %>
    <input type="submit" value="Add Item"/>
  </form>
  
  <ul>
  <% @items.each do |item| %>
    <li><%= item.name %> $<%= item.price %> per <%=item.units %> </li>
  <% end %>
  </ul>
  
</body>
</html>