<html>
<body>

	Eggs: <%= @number_of_eggs %> dozen at $<%= @eggs_price %>/dozen = $<%= @eggs_cost %><br>
   	Peas: <%= @number_of_peas %> pounds at $<%= @peas_price %>/pound = $<%= @peas_cost %><br>
   	Total: $<%= @eggs_cost + @peas_cost %>
   <br>
   ITem Test: <%= @item.quantity %>
   
   </body>
</html>