
<html>
<body>

<table width="700" align="center" cellpadding="1" cellspacing="0" class="menuborder">
  <tr>
  <td width="200"><br />
    <strong>Product List 12/18/11</strong><br> </td>
  <td width="75" align="left"><strong>Price<br />
  </strong></td>
  <td width="75" align="left"><strong>Per Unit</strong><br /></td>
  <td width="75" align="center"><strong>Amount Available</strong></td><br />
  <td width="75" align="center"> 
    <strong>Your Order</strong></td>
  </tr>
  
<form method="post" autocomplete="off">
<% @items.each do |item| %>

  <tr>
              <td><%= item.name %></td>
              <td> $<%= item.price %> </td>
              <td> <%=item.units %></td> 
              <td align="center"> <%=if item.quantity <= 0 then "sold out" else item.quantity end%></td>
<td align="center"><%if item.quantity > 0 then%> <input size="3" maxlength="3" type="float" name="<%= item.id %>"/><%end%><br/></td>

<% end %>
  <br>
  <input type="submit" value="Place Order"/>
</form>

</body>
</html>