<html>
<body>

<table width="700" align="center" cellpadding="1" cellspacing="0" class="menuborder">
  <tr>
  <td width="200"><br />
    <strong>Product List 6/17/11</strong><br> </td>
  <td width="75" align="left"><strong>Price<br />
  </strong></td>
  <td width="75" align="left"><strong>Per Unit</strong><br /></td>
  <td width="75" align="center"><strong>Amount Available</strong></td><br />
    
  </tr>

<a href="/add">add</a><br/>
# pasted here
<form method="post">
  
    Name: <input type="text" value="<%=@item.name%>" name="name"/>
    Units: <input type="text" value="<%=@item.units%>" name="units"/>
    Price: <input type="text" value="<%=@item.price%>" name="price"/>
    Available: <input type="text" value="<%=@item.quantity%>" name="quantity"/><br/>
 
    <input type="submit" value="Edit Item"/>
    </form>
    #ended paste here
<ul>
<% @items.each do |item| %>
  <tr>
              <td><%= item.name %></td>
              <td>$<%= item.price %> </td>
              <td><%=item.units %></td> 
              <td><%=item.quantity %></td>
              <td><a href="/edit?id=<%= item.id %>">edit</a></td>
    <td><a href="/remove?id=<%= item.id %>">remove</a></td>
<% end %>
</ul>

</body>
</html>
